# stacks/tdarr/compose.yml.j2
version: "3.8"
services:
  tdarr:
    image: ghcr.io/haveagitgat/tdarr:latest
    container_name: tdarr
    restart: unless-stopped
    ports:
      - "8265:8265" # webUI port
      - "8266:8266" # server port
    environment:
      - TZ={{ timezone }}
      - PUID={{ user_puid }}
      - PGID={{ user_pgid }}
      - UMASK_SET=002 # Optional umask
      - serverIP=0.0.0.0 # Listen on all interfaces inside container
      - serverPort=8266
      - webUIPort=8265
      - internalNode=true # Run node within server container
      - nodeName=InternalNode # Name for the internal node
      - inContainer=true
      - ffmpegVersion=7 # Or 7, check Tdarr docs
      # Ensure Nvidia Container Toolkit/CDI is set up on host
      - NVIDIA_DRIVER_CAPABILITIES=all
      - NVIDIA_VISIBLE_DEVICES=all
    volumes:
      - "{{ base_data_dir }}/tdarr/server:/app/server"
      - "{{ base_data_dir }}/tdarr/configs:/app/configs"
      - "{{ base_data_dir }}/tdarr/logs:/app/logs"
      # Mount your media library parent directory (needs read/write for transcoding)
      - /home/alastor/Sylvester-McCoy/Mine/Videos/Movies-4-The-Folders-Revenge:/Videos/Movies-4-The-Folders-Revenge
      - /home/alastor/Sylvester-McCoy/Mine/Videos/TV-4-The-Next-Generation:/Videos/TV-4-The-Next-Generation
      - /home/alastor/Sylvester-McCoy/Mine/Videos/UHD-Movies-A-New-Beginning:/Videos/UHD-Movies-A-New-Beginning
      - /home/alastor/Sylvester-McCoy/Mine/Videos/UHD-TV-Lucys-Tits:/Videos/UHD-TV-Lucys-Tits
      - /home/alastor/Paul-McGann/Videos/Movies\ 2\ -\ The\ Foldering:/Videos/Movies-2-The-Foldering
      - /home/alastor/Paul-McGann/Videos/Movies\ 3\ -\ The\ Final\ Folder:/Videos/Movies-3-The-Final-Folder
      - /home/alastor/Paul-McGann/Videos/TV\ 2\ -\ Electric\ Boogaloo:/Videos/TV-2-Electric-Boogaloo
      - /home/alastor/Paul-McGann/Porn:/Porn
      - /home/alastor/Paul-McGann/Videos/TV\ 3\ -\ The\ Search\ for\ Spock:/Videos/TV-3-The-Search-For-Spock
      - /home/alastor/Tom-Baker/Downloads:/Videos/Downloading
      # Mount a dedicated host path for transcoding cache
      - /var/home/alastor/.cache:/temp # CHANGE HOST PATH
    # Nvidia GPU passthrough via CDI
    devices:
      - "nvidia.com/gpu=all"
      # Optional: Add Intel/AMD VAAPI device if needed
      # - "/dev/dri:/dev/dri"
    networks:
      - media_network

networks:
  media_network:
    external: true
    name: media_network
